<% issues = Issue.where(project_id: @support_projects.map(&:id)).where.not(closed_on: nil).
    joins(:time_entries).
    where(time_entries: {user_id: @user.id}).
    where("closed_on BETWEEN ? AND ?", @date_from, @date_to).uniq %>
<% @kpi_setting  = kpi_finder(@date_from) %>
<h2>Time To Close</h2>
<table class="list">
  <thead>
  <tr>
    <td>Id</td>
    <td>Subject</td>
    <td>Start date</td>
    <td>Closed date</td>
    <td>Diff</td>
  </tr>
  </thead>
  <tbody>
  <% diff = 0 %>
  <% count_diff = 0 %>
  <% if issues.present? %>
      <% issues.each do |issue| %>
          <% difference = issue.start_date ? (issue.closed_on.to_date - issue.start_date.to_date).to_i : 0  %>
          <% diff += difference %>
          <% count_diff += 1 if issue.start_date %>
          <tr>
            <td> <%= link_to issue.id, issue %></td>
            <td> <%= issue.subject %></td>
            <td> <%= issue.start_date %></td>
            <td> <%= issue.closed_on.to_date %></td>
            <td> <%= difference %></td>
          </tr>
      <% end %>
  <% else %>
      <tr><td colspan="5">
        <%= l('label_no_data') %>
      </td></tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2"> TOTAL</td>
    <td > <%= count_diff %></td>
    <td> Average: <%= count_diff.zero? ? '0' : (diff / count_diff) %></td>
  </tr>
  <tr>
    <td colspan="3"> TOTAL Point</td>
    <% closed_ticket_point = @kpi_setting.closed_ticket_point %>
    <td > <%= count_diff.zero? ? '0' : ((diff / count_diff).to_i < 7 ? closed_ticket_point : 0 )%></td>
  </tr>
  </tfoot>
</table>