<div class="contextual">
  <%= link_to 'Overview', '/kpi/index' %>
  <%= link_to 'Promptness', '/kpi/promptness' %>

  <%= link_to 'KPI Presales', '/kpi/presales' %>
  <%= link_to 'Time Recording Precision', '/kpi/time_record' %>
  <%= link_to 'Learning & Certification', '/kpi/learning' %>
  <%= link_to 'Profitability', '/kpi/profitability' %>
  <%= link_to 'Support', '/kpi/support' %>
</div>